.popup-title {{title}}

%ul.error-messages
  %li    
    {{{message}}}

.actions
  %span.popup-close.with_arrow {{i18n.cancel}}
  {{{extraActions}}}
  %span.calendar-btn.medium.confirm-trigger {{confirm_btn}}      