@import plugins/bootstrap
@import plugins/bootstrap-theme






// ***********************************************************
//                          HELPERS
// ***********************************************************
.left
  float: left !important
.right
  float: right !important
.clear
  clear: both
.last
  margin:
    right: 0 !important
    bottom: 0 !important
.first
  margin:
    left: 0 !important
    top: 0 !important
.bold
  font-weight: bold
.fix
  overflow: hidden
.capitalize
  text-transform: lowercase !important
  &:first-letter
    text-transform: uppercase !important
.upcase
  text-transform: uppercase !important
.downcase
  text-transform: lowercase !important
.txt-center
  text-align: center !important
.txt-right
  text-align: right !important
.txt-left
  text-align: left !important
.txt-truncate
  overflow: hidden !important
  text-overflow: ellipsis !important
  white-space: nowrap !important

.clearfix
  //display: inline-block
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
    line-height: 0

.table
  display: table
.t-row
  display: table-row
.t-cell
  display: table-cell
  vertical-align: middle  

.border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box



// ***********************************************************
//                       WIDGETS
// ***********************************************************  
@import plugins/uniDialog




// ***********************************************************
//                       LAYOUT
// ***********************************************************




// **********************************************************
//                     PER PAGE STYLES
// **********************************************************




// **********************************************************
//                     MEDIA QUERIES
// **********************************************************
